# >>> slicer.util.pip_install('scipy')
tensorflow
tensorflow_addons
#tensorflow-gpu
glob2
matplotlib
nibabel
#numpy~=1.19.2
#h5py~=2.10.0
pandas
scipy
sklearn
nipype
nilearn
#git+https://www.github.com/keras-team/keras-contrib.git
keras
